.footer {
  font-size: 1.5em;
  margin: 30px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

.container { 
  background-color: #30acfff8;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.show-name {
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 30px;
}

img {
  width: auto;
  float: center;
}

.show-details {
  font-size: 1.5em;
  margin: 30px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}
.summary {
  float: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  margin: auto;
  inline-size: 80%;
  
}

#title-summary {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: .5em;
}
