<div class = "container" *ngIf="current">
  <div *ngFor="let show of current">
    <div class="show-name">
      <span>{{show.name}}</span>
    </div><!-- null guarding -->
    <div class="show-details">
      <span>Runtime: {{show.runtime}} | Show Rating: {{show.rating}} | Genre: {{show.genres}}</span>
      <p>
      <span>Network: {{show.network}} | Language: {{show.language}} | Status: {{show.status}}</span>
    </div>
    <div>
      <br><img [src]='show.image'>
    </div>
    <div class="summary">
      {{show.summary}}
    </div>
  </div>
</div>