<div style="text-align: center;">
  <mat-toolbar color="primary">
    <img class ="logo" src="assets/logo/KalAcademyTVShow.png" />
    <div class="toolbar-title" onclick="location.href='/';"><h1>The TV Box</h1>
    </div>
  </mat-toolbar>



  <div class="search-text"><h2>Search For Your Favorite Show!</h2></div>
  <div>
    <app-show-search (searchEvent) ="doSearch($event)"></app-show-search>
  </div>
  <br>
  <br>
    <div *ngIf="!displayTodayShows">
      <h2>Search results for {{currentSearchValue}}:</h2>
      <app-feature-shows [current] = "currentSearch"></app-feature-shows>
    </div>
  <br>

<br>
  <div class="todays-shows">
    <div *ngIf="displayTodayShows">
      <br>
      <h2>HERE'S WHAT'S ON TV TODAY:</h2>
      <br>
    <app-feature-shows [current] = "todaysShows"></app-feature-shows>
    </div>
  </div>
</div>