.search-text {
  margin: 20px auto;
}

.mat-toolbar {
  background: #0092f3;
}

h1 { color: rgb(255, 255, 255); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px; font-weight: bold; line-height: 48px; margin: 0; }

h2 { color: rgb(0, 0, 0); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px; font-weight: bold; line-height: 48px; margin: 0; text-transform: uppercase;}


.toolbar-title {
  padding: 20px;
}

.toolbar-title:hover {
  background-color: #2a3dad;
}

.todays-shows {
  border-color: #eeddee;
}

.logo {
  height: auto;
  width: 75px;
}

